.tooltipText {
    fill: white;
    text-anchor: middle;
    font-size: 12px;
}

#tooltip {
    position: absolute;
    color: black;
    border: 1px solid black;
    font-size: 1.1em;
    text-align: left;
    padding: 8px;
    background: white;
    opacity: 0.9;
    pointer-events: none;
    display: inline;
    z-index: 1021;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
}